.home-container {
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
    height: 100vh; /* Hace que el contenedor ocupe toda la altura de la ventana */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.home-header {
    background-image: url('../assets/imagen1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%; /* Hace que el encabezado ocupe toda la altura del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-footer-bar {
    position: absolute;
    bottom: 50px; /* Mueve la barra 50px hacia arriba desde la parte inferior */
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    padding: 15px 0; /* Espaciado interno */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-footer-bar p {
    margin: 0 10px; /* Espaciado entre los textos */
    color: #0044cc; /* Color del texto */
    font-size: 1.5rem; /* Tamaño de fuente */
}
